  .card-front,
  .card-back {
    /* Sizing */
    height: 100%;
    width: 100%;
  
    backface-visibility: hidden;
  
    /* Alignment */
    position: absolute;
  
    /* Content Alignment */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Content Styling */
    font-family: Montserrat;
    font-weight: 800;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  }
  
  .card-front {
    background-color: #73d0ff;
  }
  
  .card-back {
    background-color: #ffad66;
    transform: rotateY(180deg);
  }
  